<section>
    <div class="container">
        <div class="row py-5 justify-content-between">
            <div class="col-md-6 ">
                <div class="meet-team">
                <h2 ><span class="heroAboutPara2">{{ .Params.missionHeading }} </span></h2>
                <p  class="pt-4">{{ .Params.meetPara1 }}</p>
                <p >{{ .Params.meetPara2 }}</p>
            </div>
            </div> 
            
            <div class="col-md-6 meet-image "
            style="background-image:url('{{.Params.meetImg}}');" >
        </div>
    </div>
</section>